<!DOCTYPE html>
<html lang="en">

<title> Business </title>
<head>
{% block stylesheets %}
            <link rel="shortcut icon" href="/images/logoheader.jpg">
            <link href="/plugins/metric/dist/assets/plugins/dragula/dragula.min.css" rel="stylesheet" type="text/css" />
            <link href="/plugins/metric/dist/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="/plugins/metric/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
            <link href="/plugins/metric/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" />
            <link href="/plugins/metric/dist/assets/css/app.css" rel="stylesheet" type="text/css" />
{% endblock %}
</head>

<body id="body" class="auth-page" style="background-image: url('.png'); background-size: cover; background-position: center center;">
    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 auth-header-box" style="background-color:#608E34 ; border-color:#608E34">
                                <div class="text-center p-3">
                                    <a href="/login" class="logo logo-admin">
                                        <img src="img/CRM2.png" height="50" alt="logo" class="auth-logo">
                                    </a>
                                    <h4 class="mt-3 mb-1 fw-semibold text-white font-18">{% trans %}Reset Password{% endtrans %}</h4>   
                                    <p class="mb-0" style="color:white">{% trans %}Enter your new Password!{% endtrans %}</p>  
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <form class="my-4" method="POST" action="/newpassword/{{token}}">
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="newpassword">{% trans %}New password{% endtrans %}</label>
                                        <input type="password" class="form-control" name="newpassword" style="border-color:#608E34"> </input>
                                        <br>
                                        </div><!--end form-group--> 

                                    <div class="form-group mb-0 row">
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit" style="background-color:#608E34 ; border-color:#608E34">{% trans %}Reset{% endtrans %}<i class="fas fa-sign-in-alt ms-1"></i></button>
                                        </div><!--end col--> 
                                    </div> <!--end form-group-->  
                                                          
                                </form><!--end form-->
                                <div class="text-center text-muted">
                                    <p class="mb-1">{% trans %}Remember It ?{% endtrans %}<a href="/login" style="color:#608E34">{% trans %}Sign in here{% endtrans %}</a></p>
                                </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <!-- App js -->
    <script src="assets/js/app.js"></script>
    
</body>

</html>