{% extends 'base.html.twig' %} 

{% block body %}

   <div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Business</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/options">{% trans %}Settings{% endtrans %}</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">{% trans %}List{% endtrans %}</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">{% trans %}Settings{% endtrans %}</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                <div class="row" style="width: 40%;">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">                      
                                            <h4 class="card-title">{% trans %}Settings Details{% endtrans %}</h4>             
                                        </div><!--end col-->                                       
                                    </div>  <!--end row-->                                  
                                </div><!--end card-header-->

                                <div class="card-body">    
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="thead-light">

                                            </thead>
                                            <tbody>
        
                                            <tr>
                                                <td><a href="/options/departments">{% trans %}Departments{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/departments"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/categories">{% trans %}Categories{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/categories"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/entities">{% trans %}Entities{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/entities"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                             <tr>
                                                <td><a href="/options/priorities">{% trans %}Priorities{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/priorities"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/status">{% trans %}Status{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/status"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/stages">{% trans %}Stages{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/stages"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/area">{% trans %}Area{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/area"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/accountstype">{% trans %}Accounts Type{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/accountstype"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                             <tr>
                                                <td><a href="/options/campaign">{% trans %}Campaign{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/campaign"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/sources">{% trans %}Sources{% endtrans %}</td>
                                                <td align="left">                                                       
                                                    <a href="/options/sources"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table><!--end /table-->
                                    </div><!--end /tableresponsive-->  
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!-- end col -->
                    </div><!--end row-->

{% endblock %}