{% extends 'base.html.twig' %} 

{% block body %}

   <div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">CRM Central</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/options">Options</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Options</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                <div class="row" style="width: 40%;">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">                      
                                            <h4 class="card-title">Options Details</h4>             
                                        </div><!--end col-->                                       
                                    </div>  <!--end row-->                                  
                                </div><!--end card-header-->

                                <div class="card-body">    
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="thead-light">

                                            </thead>
                                            <tbody>

                                            <tr>
                                                <td><a href="/options/users">Users</td>
                                                <td align="left">                                                       
                                                    <a href="/options/users"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/roles">Roles</td>
                                                <td align="left">                                                       
                                                    <a href="/options/roles"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>
        
                                            <tr>
                                                <td><a href="/options/departments">Departments</td>
                                                <td align="left">                                                       
                                                    <a href="/options/departments"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/categories">Categories</td>
                                                <td align="left">                                                       
                                                    <a href="/options/categories"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/entities">Entities</td>
                                                <td align="left">                                                       
                                                    <a href="/options/entities"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                             <tr>
                                                <td><a href="/options/priorities">Priorities</td>
                                                <td align="left">                                                       
                                                    <a href="/options/priorities"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/status">Status</td>
                                                <td align="left">                                                       
                                                    <a href="/options/status"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/stages">Stages</td>
                                                <td align="left">                                                       
                                                    <a href="/options/stages"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/area">Area</td>
                                                <td align="left">                                                       
                                                    <a href="/options/area"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a href="/options/accountstype">Accounts Type</td>
                                                <td align="left">                                                       
                                                    <a href="/options/accountstype"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table><!--end /table-->
                                    </div><!--end /tableresponsive-->  
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!-- end col -->
                    </div><!--end row-->


                    <div class="row" style="width: 40%;">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">                      
                                            <h4 class="card-title">Options Details</h4>             
                                        </div><!--end col-->                                       
                                    </div>  <!--end row-->                                  
                                </div><!--end card-header-->

                                <div class="card-body">    
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="thead-light">

                                            </thead>
                                            <tbody>

                                            

                                            </tbody>
                                        </table><!--end /table-->
                                    </div><!--end /tableresponsive-->  
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!-- end col -->
                    </div><!--end row-->

{% endblock %}