{% extends 'base.html.twig' %} 

{% block body %}

   <div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">CRM Central</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/options">Options</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">Status</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Options</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->

                        <div style="margin-top:0px; margin-bottom:20px;padding-left:10px; padding-right:25px">
                            <input type="text" style="float:left; width:300px" id="myInput" onkeyup="myFunction()" type="text" placeholder="{% trans %}Search{% endtrans %}..." class="form-control"></input>
                            <button type="submit" style="float:right"class="btn btn-outline-secondary">{% trans %}Create Status{% endtrans %}</button>
                        </div>
                        
                        <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">                      
                                            <h4 class="card-title">Status Details</h4>             
                                        </div><!--end col-->                                       
                                    </div>  <!--end row-->                                  
                                </div><!--end card-header-->
                <br>
                    <div class="row" style="width: 90%; margin: auto;">
                        
                                <div class="card-body">    
                                    <div class="table-responsive">
                                        <table class="table table-hover" style="text-align:center">
                        <thead class="table-secondary">
                            <tr>
                            <th onclick="sortTable(0)" style="-webkit-user-select: none; width: 5%; cursor: pointer" style="width: 5%" scope="col">{% trans %}Name{% endtrans %}</th>
                            <th onclick="sortTable(1)" style="-webkit-user-select: none; width: 6%; cursor: pointer" style="width: 6%" scope="col">{% trans %}Active{% endtrans %}</th>
                            <th style="width: 25%;cursor: default; -webkit-user-select: none;" scope="col">{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>

                        <tbody id="myTable">
                            <tr>
                            
                            {% for status in status %}
                            
                                    <td style="vertical-align: middle">{{ status.name }}</td>
                                    <td style="vertical-align: middle">{{ status.active }}</td>

                                    <td style="-webkit-user-select: none; vertical-align: middle">
  
                                    {% if app.user.id is defined%}
                                    <a href="status/show"><i class="mdi mdi-eye-outline text-secondary font-16"></i></a>
                                    <a href="status/edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="status/delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                                        </table><!--end /table-->
                                    </div><!--end /tableresponsive-->  
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!-- end col -->
                    </div><!--end row-->

<script type="text/javascript">

    function myFunction() 
    {
        var input, filter, table, tr, td, i, TxtValue, x, flag;

        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++)
        {
            flag = 0;

            for (x = 0; x < tr[i].getElementsByTagName("td").length-1; x++)
            {
                td = tr[i].getElementsByTagName("td")[x];
                if (td) 
                {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) 
                    {
                        flag = 1;
                    } 
                }
            }
            if(flag==1)
            {
                tr[i].style.display = "";
            }
            else
            {
                tr[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %} 